# Environment variables for backend
MONGODB_URL=mongodb+srv://StudyPoint:Cb3oog9A97jZO6cH@cluster0.whyvvvy.mongodb.net/akshar_light?retryWrites=true&w=majority&appName=Cluster0
PORT=8000
FRONTEND_URL=http://localhost:5173
